@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@title: Cormorant, serif;
@text: Nunito, sans-serif;
@sombreado: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Colores en Hex */
@color-1-dark: #030226;
@color-2-medium-dark: #090740;
@color-3-medium: #65648C;
@color-5-light: #D9BFA9;
@color-4-medium-light: #8C5D5D;

* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* ocultar barras de scroll */
body::-webkit-scrollbar {
    display: none;

}

body {
    height: 100%;

}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, auto);
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}




/*----HEADER------*/
header {
    grid-area: header;
}

header {
    background-color: rgb(45, 45, 95);
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: space-around;
    overflow: hidden;
    min-height: 52px;

}

.logo {
    width: 33%;
    float: left;
    margin-left: 5%;
    text-align: center;
    padding-top: 20px;

}

.title {
    width: 34%;
    text-align: center;
    padding-top: 20px;

}

.social {
    width: 10%;
    float: right;
    position: relative;
    top: -20px;
    margin-right: 5%;


}

.social ul {
    display: inline-flex;

}

.social>ul li {
    margin-left: 10px;

}

.social>ul li:hover {
    font-size: 17px;

}






/*----MAIN------*/
main {
    grid-area: main;
    width: 100%;
    background-color: @color-1-dark;
}

.maindiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "video carousel"
        "log log";
    width: 100%;
}

.log {
    grid-area: log;
    margin-top: 40px;
}

.Loginform {
    position: absolute;
    top: 20%;
    left: 42%;
    background-color: @color-2-medium-dark;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(41, 39, 39, 0.4);
    font-size: 30px;
    display: none;
    text-align: center;
}

.data p {
    font-size: 15px;
}

#show:checked~.Loginform {
    display: block;
}

#show {
    display: none;
}

.log .open-btn {
    background-color:  #8C5D5D;
    color: blanchedalmond;
    position: absolute;
    display: block;
    right: 47%;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(41, 39, 39, 0.4);



}

.log a {
    font-size: 12px;
}

#reg {
    display: none;
}

.btn {
    height: 35px;
    width: 35%;
    margin-top: 20px;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center
}

.btn button {
    width: 100%;
    height: 130%;
    background: none;
    border: none;
    font-family: Helvetica, Arial, sans-serif;



}

.btn:hover {
    border: rgb(93, 255, 53) 1px solid;
    box-shadow: 0 0 20px rgba(172, 255, 48, 30);

}

.LinkRegister {
    font-size: 12px;
    color: rgb(66, 147, 223);
}

.close-btn {
    background: none;
    float: right;
    font-size: 14px;
}

.close-btn:hover {
    color: rgb(243, 29, 13)
}


.video {
    grid-area: video;


    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.carousel {

    grid-area: carousel;
    margin-top: 40px;
    height: 700px;
}

.carousel-item p {
    text-align: center;
    font-size: 25px;
    font-family: Alfa Slab One, display;
}

.carousel-item img {

    height: 150px;

}








/*----FOOTER------*/
footer {
    grid-area: footer;
    position: absolute;
    bottom: 0;
}

footer {

    height: 60px;
    width: 100%;
    display: flex;
}

footer>div {
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}


/*error*/
#error {
    position: absolute;
    width: 25%;
    background-color: aqua;
    height: 200px;
    left: 35%;

    top: 30%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-size: 30px;

    text-align: center;
}

#error>h1 {
    font-size: 20px;
    font-family: @color-3-medium;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30%;

}

.text {
   
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    text-align: center;

    font-family: Alfa Slab One, display;
    font-size: 20px;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
    letter-spacing: 0.9px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);



}
.text{
    transition: 3s linear;
}
.text:hover{
    font-size: 23px;
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
    0 0 30px #fff;

}