@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4cgBXOCl9bbnla_nHIiVL6Ygg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKof4Mg.ttf) format('truetype');
}
/* Colores en Hex */
* {
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
}
/* ocultar barras de scroll */
body::-webkit-scrollbar {
  display: none;
}
.grow:hover {
  transform: scale(1.01);
  transition: 60ms ease;
  overflow: hidden;
}
body {
  display: grid;
  height: 400vh;
  width: 100vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
/*----HEADER------*/
header {
  grid-area: header;
  background-color: #414141;
  border: 1px solid #525252;
  border-width: 2px;
  z-index: 9;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 10vh;
  min-height: 52px;
  box-shadow: 0 0 8px #000000;
}
header .logo {
  text-align: center;
  font-size: 2em;
  font-weight: 3px;
  color: #66CDAA;
  font-family: Cormorant, serif;
}
header .title {
  font-size: x-large;
  text-align: center;
  color: #66CDAA;
}
header .social {
  text-align: center;
  color: #66CDAA;
}
header .social a {
  display: inline-flex;
  margin-left: 10px;
  color: #66CDAA;
}
header .social > a:hover {
  font-size: 17px;
  color: #b3e6d5;
}
/*----MAIN------*/
main {
  grid-area: main;
  width: 100%;
  height: 380vh;
  background-color: #525252;
  border: 1px solid #414141;
}
main .maindiv {
  width: 100%;
  height: 85vh;
  align-self: center;
  align-items: center;
  overflow: hidden;
  border-width: 2px;
}
main .maindiv .log {
  margin-top: 1em;
  height: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 20px;
}
main .maindiv .log .open-btn {
  text-align: center;
  background-color: #66CDAA;
  color: blanchedalmond;
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(41, 39, 39, 0.4);
}
main .maindiv .log a {
  font-size: 2em;
}
main .maindiv .log .Loginform {
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 39%;
  background-color: #525252;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(41, 39, 39, 0.4);
  font-size: 30px;
  display: none;
  text-align: center;
  overflow: hidden;
  color: #40c095;
}
main .maindiv .log .data p {
  font-size: 15px;
}
main .maindiv .log #show:checked ~ .Loginform {
  display: block;
}
main .maindiv .log #show {
  display: none;
}
main .maindiv .log #reg {
  display: none;
}
main .maindiv .log .btn {
  height: 35px;
  width: 35%;
  margin-top: 20px;
  background-image: linear-gradient(315deg, #66CDAA 0%, #66CDAA 74%);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  text-align: center;
}
main .maindiv .log .btn button {
  width: 100%;
  height: 130%;
  background: none;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
}
main .maindiv .log .btn:hover {
  border: #40c095 0.5px solid;
  box-shadow: 0 0 5px #000000;
}
main .maindiv .log .LinkRegister {
  font-size: 12px;
  color: #4293df;
}
main .maindiv .log .LinkRegister a {
  color: white;
  text-decoration: none;
}
main .maindiv .log .close-btn {
  background: none;
  float: right;
  font-size: 14px;
}
main .maindiv .log .close-btn:hover {
  color: #f31d0d;
}
main .maindiv .text {
  width: 105vw;
  text-align: center;
  align-items: center;
  height: 3%;
  font-family: Alfa Slab One, display;
  font-size: 22px;
  font-weight: 100;
  color: #329b77;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 3em;
  letter-spacing: 0.9px;
  text-shadow: 0px 0px 1px #000000;
}
main .maindiv .video {
  margin-top: 2em;
  width: 70%;
}
main .maindiv .video video {
  box-shadow: 0 0 10px #000000;
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
  margin-left: 1em;
}
main .divcarousel {
  margin-bottom: auto;
  width: 100%;
  height: 100vh;
  text-align: start;
  align-items: center;
  overflow: hidden;
}
main .divcarousel .div-musicboton {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main .divcarousel .div-musicboton .buton {
  align-self: center;
  border-radius: 6px;
  width: 7em;
  height: 3.5em;
  margin-top: 2em;
  background-color: #434343;
  border: 2px solid #525252;
  border-radius: 3px;
  box-shadow: 0 0 10px #0d271e;
  text-align: center;
}
main .divcarousel .div-musicboton .buton button:hover {
  box-shadow: 0 0 10px #329b77;
}
main .divcarousel .div-musicboton .buton button:active {
  background-color: #4f4f4f;
  border-radius: 3px;
}
main .divcarousel .div-musicboton .buton button {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
main .divcarousel .div-musicboton .buton p {
  color: #329b77;
}
main .divcarousel .div-musicboton .buton p img {
  position: absolute;
  width: 30%;
  left: 35%;
  margin-top: 3%;
  display: none;
  border: 1px #414141 solid;
  box-shadow: 0 0 10px #0d271e;
  z-index: 30;
}
main .divcarousel .div-musicboton .buton p:hover {
  color: #66CDAA;
}
main .divcarousel .div-musicboton .buton p:hover img {
  display: block;
}
main .divcarousel .textcarousel {
  text-align: start;
}
main .divcarousel .textcarousel div {
  margin-top: 2em;
  background-color: #434343;
  border: 2px solid #525252;
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
  text-align: center;
  width: 75%;
  min-height: 3em;
}
main .divcarousel .textcarousel div:hover {
  transition-duration: 0.6s;
  background-color: #4a4a4a;
  box-shadow: 0 0 10px #329b77;
}
main .divcarousel .textcarousel div:hover p {
  margin-top: 0.3em;
  display: block;
  color: #66CDAA;
}
main .divcarousel .textcarousel div p {
  display: none;
}
main .divcarousel .card-carousel {
  margin-top: 2em;
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .divcarousel .card-carousel .my-card {
  height: 22rem;
  width: 14rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-1rem);
  transform: scale(0.6) translateY(-5rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
}
main .divcarousel .card-carousel .my-card:after {
  content: '';
  position: relative;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
main .divcarousel .card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}
main .divcarousel .card-carousel .my-card.prev,
main .divcarousel .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}
main .divcarousel .card-carousel .my-card:nth-child(0):before {
  background-image: url('10.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .divcarousel .card-carousel .my-card:nth-child(1):before {
  background-image: url('7.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .divcarousel .card-carousel .my-card:nth-child(2):before {
  background-image: url('10.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .divcarousel .card-carousel .my-card:nth-child(3):before {
  background-image: url('7.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .divcarousel .card-carousel .my-card:nth-child(4):before {
  background-image: url('7.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .divcarousel .card-carousel .my-card:nth-child(5):before {
  background-image: url('10.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
main .finaldiv {
  height: 180vh;
  margin-bottom: 2em;
}
main .finaldiv .section {
  background-color: #434343;
  border: 2px solid #525252;
  box-shadow: 0 0 10px #0d271e;
  height: 31%;
  width: 70%;
  margin-top: 2em;
  border-radius: 10px;
  overflow: hidden;
}
main .finaldiv .section .img {
  text-align: center;
  width: 80%;
  height: 70%;
  align-self: center;
}
main .finaldiv .section .img img {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px #0d271e;
  width: 90%;
  height: 95%;
}
main .finaldiv .section .img img:hover {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px #329b77;
}
main .finaldiv .section .textimg {
  text-align: center;
}
main .finaldiv .section .textimg h2 {
  font-family: Cormorant, serif;
  font-size: 2em;
}
main .finaldiv .section .textimg p {
  font-family: Nunito, sans-serif;
  color: #66CDAA;
  justify-content: start;
  text-align: justify;
  font-size: 1.3em;
  padding: 0.8em;
}
/*----FOOTER------*/
footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  height: 10vh;
  box-shadow: 0 0 8px #000000;
  background-color: #414141;
  width: 100%;
  display: flex;
}
footer a {
  color: black;
  text-decoration: none;
}
footer div {
  align-self: center;
}
/*error*/
#error {
  position: absolute;
  width: 25%;
  background-color: aqua;
  height: 200px;
  left: 35%;
  top: 30%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  text-align: center;
}
#error > h1 {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30%;
}
.text {
  transition: 3s linear;
}
.text:hover {
  font-size: 23px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}
@media all and (max-width: 400px) {
  .main {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
  }
  .buton {
    display: none;
  }
  .maindiv {
    width: 100%;
    height: 85vh;
    align-self: center;
    align-items: center;
    overflow: hidden;
    border-width: 2px;
  }
  .maindiv .video {
    margin-top: 5em;
    width: 70%;
  }
  .maindiv .video video {
    width: 100%;
    height: 100%;
    margin-top: em;
    margin-left: 1em;
  }
  .maindiv .text {
    font-size: small;
  }
}
