* {
  padding: 0;
  margin: 0;
}
body {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  height: 458px;
}
form {
  background: #6bc9da;
  height: 300px;
  width: 40%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.sectionRegister {
  margin-top: 20px;
}
.sectionRegister p {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sectionRegister input {
  height: 20px;
  width: 90%;
}
.dataRegister > input {
  text-align: center;
  margin-top: 50px;
}
.dataRegister > a {
  text-align: center;
  font-size: 12px;
}
