@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@title: Cormorant, serif;
@text: Nunito, sans-serif;
@sombreado: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Colores en Hex */
@color-1-dark: #030226;
@color-2-medium-dark: #090740;
@color-3-medium: #65648C;
@color-5-light: #D9BFA9;
@color-4-medium-light: #8C5D5D;
@green: #66CDAA;
@morado: #43038c;
@gris-oscuro: #414141;
@gris-claro: #525252;
@blanco: rgb(230, 230, 230);


* {
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
}

/* ocultar barras de scroll */
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: @gris-oscuro;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "main   main   main   aside"
        "footer footer footer footer";
}

//------HEADER-------
.menu{
    grid-area: header;
    z-index:9;
    height:75px;
    width:100%;
    background-color:@green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @morado;
    position: fixed;
}
.logo{
    color:@morado;
    font-size: 35px;
    padding:0 80px;
    font-weight: bold;
}
.menu-items{
    display:flex;
    margin-right:30px;
}
.menu-items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu-items li a{
    padding:7px 13px;
    font-size:18px;
    display: block;
    color:@morado;
}
.menu-items li a:hover{
        color:red
    }
.btn_menu{
margin-right:30px;
font-size: 25px;
color:@morado;
cursor:pointer;
display:none;
}
ul.show{
    top:65px;
    width:100%;
    height: 400px;
    position: absolute;
}

.animation(@nombre) {
    position: relative;
    animation-name: @nombre;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.grow:hover {
    transform: scale(1.01);
    transition: 60ms ease;
    overflow: hidden;
}

button {
    outline: none;
    cursor: pointer;
    border: 0px;
    font-size: 1em;
    background-color: transparent;
}


//------Aside-------
.aside {
    grid-area: aside;
    background-color: @gris-oscuro;
    //width: 100%;
    width: 20vw;
    //margin-top: 11vh;
    position: absolute;
    right: 6vw;
    top: 16vh;
    bottom: 15%;
    height:82vh;

    // padding-top: 15vh;
    .sidebar {
        width:100%;
        display: flex;
        // margin-top: 50px;
        color: @color-4-medium-light;
        border: 2px solid #65648C;
        border-radius: 10px;

        .most-visited {
            width: 100%;
            .aside-style
        }
    }

    .aside-style {
        margin: 1%;
        color: @color-3-medium;
        font-weight: bolder;

        &>span {
            display: block;
            margin: 4%;
            color: @color-4-medium-light;
            font-size: 1.1em;
            width: 90%;
            
            text-align: center;
        }

        li {
            list-style: none;
            display: block;
            font-weight: initial;
            font-family: @text;
            font-size: 0.8em;
            padding: 10px;

            &:hover {
                background-color: lighten(@color-4-medium-light, 25%);
            }

            span {
                color: lighten(@color-4-medium-light, 60%);
                
            }
            .hit{
                float: right;
            }
        }

    }
}

button,
.edit {
    color: @green;
}

//------Main------
.main {
    grid-area: main;
    background-color: @gris-oscuro;
    width: 100%;
    padding-top: 4vh;

    /* author miguel */
    .tags {

        position: relative;
        width: 70vw;
        top: 80px;
        margin-left: 60px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        & .etiqueta {
            text-decoration: none;
            color: @green;
            font-size: 1em;
            padding: 10px;
            text-align: center;
            width: 80px;
            background-color: fade(@morado, 60%);
            display: inline-block;
            border-radius: 10px;
        }
    }

    .listado {
        margin: 0 5% 0 2%;
        grid-area: main;
        color: @green;
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: -2;
        margin-top: 70px;
        margin-left: 80px;
        padding: 15px;

        .tema {

            margin: 0 1% 1%;
            padding: 1%;
            font-size: 15px;
            box-shadow: @sombreado;
            font-family: @text;
            border: 2px solid #65648C;
            border-radius: 10px;
            background-color: lighten(@gris-claro, 20%);

            .header-tema {
                font-size: 2.5em;
                font-weight: bolder;
                font-family: @title;
                color: @morado;
                margin:5px 10px;
            }

            &:hover {
                background-color: @blanco;
            }
            .autor {
                font-size: 2em;
                color:#234739;
                padding:5px 10px;
                font-family: cursive;
            }
            .etiqueta {
                color: red;
                font-size: 1.5em;
                padding:5px 10px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .escuchas {
                color: @color-3-medium;
                font-size: 1.5em;
                padding:5px 10px;
            }
            .popup {
                display: none;
            }

            a:hover .popup {
                display: inline-block;
                background-color: fade(@green, 15%);
                padding: 0.25em;
                border-radius: 25px;
            }


            a {

                &:link,
                &:visited,
                &:hover,
                &:active {
                    text-decoration: none;
                    color: @morado;
                }
            }
        }
    }
}

//------FOOTER------

footer {
    grid-area: footer;
    color: @green;
    position: relative;
    background-color: @morado;
    height: 10vh;
    bottom: 0px;
    width: 100%;
    display: flex;
    line-height: 10vh;
    a{
        color:@green;
    }
    }

//-----MEDIA-------

@media screen and (max-width:952px){
    .logo{
        font-size:30px;
        padding-left:35px;
    }
    .menu-items li a {
        font-size: 16px;
    }
}
@media screen and (max-width:858px){
    .menu{
       height: 65px;
    }
    .btn_menu {
        display:inline-flex;
    }
    .menu-items{
        position: fixed;
        width:100vh;
        height: calc(100%-65px);
        background-color: @gris-oscuro;
        top:-100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu-items li:hover{
        background-color: none;
    }
    .menu-items li a {
        font-size: 20px;
        color: @blanco;
        font-weight: bold;
    }
    .logo{
        font-size:25px;
        padding-left: 35px;
    }
}

@media screen and (max-width:500PX){
    footer{
        height: 100%;
        flex-flow: column nowrap;
    }
}

@media all and (max-width:300px) {
    .listado {
        margin: 2% 5%;
    }

    .main {
        display: grid;
        grid-auto-rows: minmax(50px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    }

    .sidebar {
        flex-flow: row nowrap;
    }

    footer {
        height: 100%;
        flex-flow: column nowrap;
    }
}
@media all and (max-width:730px) {

    .main{
        width: 100%;
    }
    }