@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4cgBXOCl9bbnla_nHIiVL6Ygg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKof4Mg.ttf) format('truetype');
}
/* Colores en Hex */
* {
  box-sizing: border-box;
  margin: 0 auto;
}
/* ocultar barras de scroll */
body::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #414141;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main   main   main   aside" "footer footer footer footer";
}
.grow:hover {
  transform: scale(1.01);
  transition: 60ms ease;
  overflow: hidden;
}
button {
  outline: none;
  cursor: pointer;
  border: 0px;
  font-size: 1em;
  background-color: transparent;
}
.header {
  z-index: 9;
  height: 10vh;
  width: 100%;
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  min-height: 52px;
  align-items: center;
  background-color: #66CDAA;
  position: fixed;
}
.header .animation-header {
  position: absolute;
  left: 5%;
  align-self: center;
  display: flex;
  flex-flow: row;
  font-size: 2em;
  text-size-adjust: 100%;
  color: #43038c;
  font-family: Cormorant, serif;
  animation-delay: 2s;
}
.header .animation-header .lft {
  position: relative;
  animation-name: left-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.header .animation-header .rght {
  position: relative;
  animation-name: right-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .nav ul li {
  display: inline-block;
}
.header .nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #43038c;
  text-decoration: none;
  font-size: 1.4em;
  cursor: pointer;
}
.header .social {
  width: 20vw;
  position: absolute;
  right: -5%;
  color: #43038c;
}
.header .social i {
  padding-left: 1rem;
  color: #43038c;
}
.aside {
  grid-area: aside;
  background-color: #414141;
  width: 20vw;
  position: absolute;
  right: 6vw;
  top: 16vh;
  bottom: 15%;
  height: 82vh;
}
.aside .sidebar {
  width: 100%;
  display: flex;
  color: #8C5D5D;
  border: 2px solid #65648C;
  border-radius: 10px;
}
.aside .sidebar .most-visited {
  width: 100%;
  margin: 1%;
  color: #65648C;
  font-weight: bolder;
}
.aside .sidebar .most-visited > span {
  display: block;
  margin: 4%;
  color: #8C5D5D;
  font-size: 1.1em;
  width: 90%;
  text-align: center;
}
.aside .sidebar .most-visited li {
  list-style: none;
  display: block;
  font-weight: initial;
  font-family: Nunito, sans-serif;
  font-size: 0.8em;
  padding: 10px;
}
.aside .sidebar .most-visited li:hover {
  background-color: #c3a5a5;
}
.aside .sidebar .most-visited li span {
  color: #ffffff;
}
.aside .sidebar .most-visited li .hit {
  float: right;
}
.aside .aside-style {
  margin: 1%;
  color: #65648C;
  font-weight: bolder;
}
.aside .aside-style > span {
  display: block;
  margin: 4%;
  color: #8C5D5D;
  font-size: 1.1em;
  width: 90%;
  text-align: center;
}
.aside .aside-style li {
  list-style: none;
  display: block;
  font-weight: initial;
  font-family: Nunito, sans-serif;
  font-size: 0.8em;
  padding: 10px;
}
.aside .aside-style li:hover {
  background-color: #c3a5a5;
}
.aside .aside-style li span {
  color: #ffffff;
}
.aside .aside-style li .hit {
  float: right;
}
button,
.edit {
  color: #66CDAA;
}
.main {
  grid-area: main;
  background-color: #414141;
  width: 100%;
  padding-top: 4vh;
  /* author miguel */
}
.main .tags {
  position: relative;
  width: 70vw;
  top: 80px;
  margin-left: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.main .tags .etiqueta {
  text-decoration: none;
  color: #66CDAA;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  width: 80px;
  background-color: rgba(67, 3, 140, 0.6);
  display: inline-block;
  border-radius: 10px;
}
.main .listado {
  margin: 0 5% 0 2%;
  grid-area: main;
  color: #66CDAA;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: -2;
  margin-top: 70px;
  margin-left: 80px;
  padding: 15px;
}
.main .listado .tema {
  margin: 0 1% 1%;
  padding: 1%;
  font-size: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: Nunito, sans-serif;
  border: 2px solid #65648C;
  border-radius: 10px;
  background-color: #858585;
}
.main .listado .tema .header-tema {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: Cormorant, serif;
  color: #43038c;
}
.main .listado .tema:hover {
  background-color: #e6e6e6;
}
.main .listado .tema .popup {
  display: none;
}
.main .listado .tema a:hover .popup {
  display: inline-block;
  background-color: rgba(102, 205, 170, 0.15);
  padding: 0.25em;
  border-radius: 25px;
}
.main .listado .tema a:link,
.main .listado .tema a:visited,
.main .listado .tema a:hover,
.main .listado .tema a:active {
  text-decoration: none;
  color: #43038c;
}
.main .autor {
  color: #D9BFA9;
}
.main .etiqueta {
  color: #090740;
}
.main .escuchas {
  color: #65648C;
}
footer {
  grid-area: footer;
  color: #66CDAA;
  position: relative;
  background-color: #43038c;
  height: 10vh;
  bottom: 0px;
  width: 100%;
  display: flex;
  line-height: 55px;
}
@keyframes left-slide {
  0% {
    color: #e6e6e6;
    left: -50%;
    top: 0px;
  }
  100% {
    color: #43038c;
    left: 0%;
    top: 0px;
  }
}
@keyframes right-slide {
  0% {
    color: #e6e6e6;
    right: -50%;
    top: 0px;
  }
  100% {
    color: #43038c;
    right: 0%;
    top: 0px;
  }
}
@media all and (max-width: 300px) {
  .listado {
    margin: 2% 5%;
  }
  .main {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "aside" "footer";
  }
  .sidebar {
    flex-flow: row nowrap;
  }
  footer {
    height: 100%;
    flex-flow: column nowrap;
  }
}
@media all and (max-width: 730px) {
  .main {
    width: 100%;
  }
}
