/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@title: Cormorant, serif;
@text: Nunito, sans-serif;
@sombreado: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Colores en Hex */
@color-1-dark: #030226;
@color-2-medium-dark: #090740;
@color-3-medium: #65648C;
@color-5-light: #D9BFA9;
@color-4-medium-light: #8C5D5D;


* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* ocultar barras de scroll */
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    //   width: 100vw !important;
}

.grow:hover {
    transform: scale(1.01);
    transition: 60ms ease;
    overflow: hidden;
}

button {
    outline: none;
    cursor: pointer;
    border: 0px;
    font-size: 1em;
    background-color: transparent;
}

//------------ESTRUCTURA---------//
body {
    background-color: @color-2-medium-dark;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    /* esto verlo, no me gusta
    esta a 20 porq es el % del header */

    grid-auto-rows: minmax(5%, auto);

    grid-template-areas:
        "header header header header header header header header header"
        "main   main   main   main   main   main   main   main   main";
}

//------HEADER-------
.cabecera {
    background-color: lighten(@color-2-medium-dark, 15%);
    z-index: 100;
    width: 100vw;
    min-height: 52px;
    //height: 15vh;
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    /* position: fixed;
    top: 0px; */

    .logo {
        align-self: center;
        font-size: 2em;
        flex-basis: 50%;

        /* ver esto, no me gusta */
        text-size-adjust: 100%;

        color: @color-4-medium-light;
        font-family: @title;
    }

    .volver,
    .ayuda {
        align-self: center;

        i {
            color: @color-5-light;
        }
    }
}

//-------MAIN-------

.main {
    //quitarlo si queremos hacer scroll, cambiar entonces el margin top a 2%
    //  position: fixed;
    //  margin: 5% 20% 0 20%;
    grid-area: main;
    color: @color-5-light;
    display: flex;
    align-items: center;
    justify-content: center;

    .channel_rack {
        height: 80vh;
        width: 95%;

        .track {
            height: 15%;
            background-color: @color-1-dark;
            margin-bottom: 4px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-around;

            .track_name {
                align-self: center;
                //flex-basis: 10%;
                padding: 0 5px;
                margin-right: 50px;
                /* ordenar el nombre del track bien */
            }

            .beat {
                flex-basis: 5%;
                background-color: @color-4-medium-light;
                width: 2.5vw;
                height: 85%;
                margin-right: 5px;
                border-radius: 15%;

                &.marked {
                    background-color: lighten(@color-4-medium-light, 30%);
                    border: 1px solid @color-2-medium-dark;
                }

                &.impar {
                    background-color: @color-3-medium;

                    &.marked {
                        background-color: lighten(@color-3-medium, 50%);
                        border: 1px solid rgba(204, 12, 12, 0.76);
                    }
                }
            }
        }

        .slidecontainer {
            width: 10%;
            /* Width of the outside container */
        }

        /* The slider itself */
        .slider {
            -webkit-appearance: none;
            /* Override default CSS styles */
            appearance: none;
            width: 100%;
            /* Full-width */
            height: 25px;
            /* Specified height */
            background: #c36363;
            /* Grey background */
            outline: none;
            /* Remove outline */
            opacity: 0.7;
            /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s;
            /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1;
            /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 25px;
            /* Set a specific slider handle width */
            height: 25px;
            /* Slider handle height */
            background: @color-5-light;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
            width: 25px;
            /* Set a specific slider handle width */
            height: 25px;
            /* Slider handle height */
            background: @color-5-light;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
        }

        .controles {
            margin-top: 5%;
            width: 50vw;
            padding: 0.6%;
            display: flex;
            text-align: center;
            border: 1px solid @color-5-light;
            align-content: center;
            justify-items: center;

            button {
                display: block;
                color: @color-4-medium-light;
            }
        }
    }

}

//-----ANIMATIONS------

//-----MEDIA-------

@media all and (max-width:400px) {
    .noticias {
        margin: 2% 5%;
    }

    .main {
        display: grid;
        grid-auto-rows: minmax(50px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main";
    }

    .sidebar {
        flex-flow: row nowrap;
    }

    .contacto {
        height: 100%;
        flex-flow: column nowrap;
    }
}