@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@title: Cormorant, serif;
@text: Nunito, sans-serif;
@sombreado: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Colores en Hex */
@color-1-dark: #030226;
@color-2-medium-dark: #090740;
@color-3-medium: #65648C;
@color-5-light: #D9BFA9;
@color-4-medium-light: #8C5D5D;


/* Colores en Hex */
@green: #66CDAA;
@morado: #43038c;
@gris-oscuro: #414141;
@gris-claro: #525252;

* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* ocultar barras de scroll */
body::-webkit-scrollbar {
    display: none;

}

body {
    height: 100vh;

}

.grow:hover {
    transform: scale(1.01);
    transition: 60ms ease;
    overflow: hidden;
}

//------------ESTRUCTURA---------//
body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    //grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}


/*----HEADER------*/
header {
    grid-area: header;
    background-color: @gris-oscuro;
    border: 1px solid @gris-claro;
    border-width: 2px;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    height: 10vh;
    min-height: 52px;
    //background-color: @color-3-medium;
    color: @green;



    .logo {
        align-self: center;
        font-size: 2em;
        font-family: @title;




    }

    .nav {
        align-self: center;

        a {
            display: inline-flex;
            margin-left: 3em;
        }

    }


    .social {
        align-self: center;
 



        a {
            display: inline-flex;
            margin-left: 2em;
            color: @green;



            &:hover {
                font-size: 17px;
                color: lighten(@green, 20%)
            }
        }

    }
    }

//-----MAIN----
    main {
        background-color:@gris-oscuro;
        height: 80vh;
        grid-area: main;
        width: 100%;


        display: grid;
        grid-template-areas:
            "Foro Estudio Audioteca"
            ;


    

    .boton_foro {
        grid-area: Foro;
        height: 100%;
        background-color: black;
        width: 100%;
        &:hover{
            width: 150%;
            overflow: visible;
        }

    }

    .boton_audioteca {
        grid-area: Audioteca;
        height: 100%;
        background-color: rgb(111, 111, 134);
        width: 100%;

    }

    .boton_estudio {
        grid-area: Estudio;
        height: 100%;
        background-color: blue;
        width: 100%;


    }

    .boton_foro>button {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 223);
    }

    .boton_foro>button:hover {
        background-color: rgb(159, 255, 74);
        width: 101%;
        height: 101%;
    }

    .boton_estudio>button {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 223);
    }

    .boton_estudio>button:hover {
        background-color: rgb(159, 255, 74);
        width: 101%;
        height: 101%;
    }

    .boton_audioteca>button {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 223);
    }

    .boton_audioteca>button:hover {
        background-color: rgb(159, 255, 74);
        width: 101%;
        height: 101%;
    }
}




/*----FOOTER------*/
footer {
    grid-area: footer;
    position: relative;
    bottom: 0;
    height: 10vh;


}

footer {
    background-color: @gris-oscuro;
    width: 100%;
    display: flex;

}

footer>div {
    margin-right: auto;
    margin-left: auto;

}

