@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@title: Cormorant, serif;
@text: Nunito, sans-serif;
@sombreado: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Colores en Hex */
@color-1-dark: #030226;
@color-2-medium-dark: #090740;
@color-3-medium: #65648C;
@color-5-light: #D9BFA9;
@color-4-medium-light: #8C5D5D;


/* Colores en Hex */
@green: #66CDAA;
@morado: #43038c;
@gris-oscuro: #414141;
@gris-claro: #525252;

* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* ocultar barras de scroll */
body::-webkit-scrollbar {
    display: none;

}

body {
    height: 100vh;

}

.grow:hover {
    transform: scale(1.01);
    transition: 60ms ease;
    overflow: hidden;
}

//------------ESTRUCTURA---------//
body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    //grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}


/*----HEADER------*/
header {
    grid-area: header;
    background-color: @gris-oscuro;
    border: 1px solid @gris-claro;
    border-width: 2px;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 10vh;
    min-height: 52px;
    //background-color: @color-3-medium;



    .logo {
        text-align: center;
        font-size: 2em;
        font-weight: 3px;
        color: @green;
        font-family: @title;


    }

    .title {
        font-size: x-large;

        text-align: center;
        color: @green;


    }

    .social {
        text-align: center;
        color: @green;
    }

    .social a {
        display: inline-flex;
        margin-left: 10px;

    }

    .social>a:hover {
        font-size: 17px;
        color: lighten(@green, 20%)
    }
    .nav>*{
        display: inline-flex;
    }
}


main {
    background-color: rgb(221, 221, 221);
    height: 850px;
    grid-area: main;
    width: 100%;


    display: grid;
    grid-template-areas:
        "Foro Estudio"
        "Foro Audioteca";


}

.boton_foro {
    grid-area: Foro;
    height: 100%;
    background-color: black;
    width: 100%;


}

.boton_audioteca {
    grid-area: Audioteca;
    height: 100%;
    background-color: rgb(111, 111, 134);
    width: 100%;

}

.boton_estudio {
    grid-area: Estudio;
    height: 100%;
    background-color: blue;
    width: 100%;


}

.boton_foro>button {
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 223);
}

.boton_foro>button:hover {
    background-color: rgb(159, 255, 74);
    width: 101%;
    height: 101%;
}

.boton_estudio>button {
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 223);
}

.boton_estudio>button:hover {
    background-color: rgb(159, 255, 74);
    width: 101%;
    height: 101%;
}

.boton_audioteca>button {
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 223);
}

.boton_audioteca>button:hover {
    background-color: rgb(159, 255, 74);
    width: 101%;
    height: 101%;
}





footer {

    grid-area: footer;
    position: absolute;
    bottom: 0;
}

footer {
    background-color: darkblue;
    height: 60px;
    width: 100%;
    display: flex;
}

footer>div {
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}